*{
  padding: 0;
  margin: 0;
}

html, body{
  /* color: #F294C0;
  color: #2E3C8C;
  color: #2168A6;
  color: #F2A71B;
  color: #D96A29; */
  /* font-family: 'Abril Fatface', cursive; */
  font-family: 'Fira Sans', sans-serif;

}

button{
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline-width: 0;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.mr_right{
  margin-right: 2rem;
}
.mr_left{
  margin-left: 2rem;
}

.flex{
  display: flex;
  align-items: center;
}
.flex_center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexCol{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex_between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex_evenly{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn_main{
  background-color: #F294C0;
  color: white;
  text-transform: uppercase;
  /* font-weight: bold; */
  border: 1px solid white;
  padding: 12px 24px;
  border-radius: 25px;
  transition: all ease-in 0.2s;
  
}


.btn_main:hover{
 
  border: 1px solid #F294C0;
  color: #F294C0;
  background-color: white;
}

.btn_secondary{
  
  background-color: #2e81ca;
  color: white;
  text-transform: uppercase;
  /* font-weight: bold; */
  border: 1px solid white;
  padding: 14px 24px;
  border-radius: 25px;
}

.btn_secondary:hover{
  border: 1px solid #2e81ca;
  color: #2e81ca;
  background-color: white;
}
.btn_secondary2{
  background-color: white;
  color: #2e81ca;
  border: 2px solid #2e81ca;
  padding: 12px 24px;
  border-radius: 25px;
  margin-top: 1.5rem;
  transition: all ease-in-out 0.4s;
}
.btn_secondary2:hover {
  background-color: #2e81ca;
  color: white;

  border: 2px solid white;
  padding: 12px 24px;
  border-radius: 25px;
}

.btn_group{
  margin-top: 3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.btn_plus_padding_2{
  width: 80%;
}
.auth_text{
  margin-top: 2rem;
}
.auth_text > span{
  color: #F294C0;
  font-weight: bold;
  font-size: 17px;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 6px;
}

.auth_text > span:hover{
  color: #fcb8d8;
}