.register_svg{
    height: 500px;
    width: 500px;
}
.register_left{
    flex: 0.5;
}
.register_right{
    flex: 0.5;
    height: 100vh;
    background-color: #d5eafd;
}

@media(max-width:1000px){
    .register_right{ display: none;}
    .register_left{flex: 1;}
}