.create_profile_app{
    background-color: #eaeaea;
    height: auto;
    min-height: 100vh;
    position: absolute;
    width: 100%;
}
.create_profile{
    width: 80%;
    margin-left: 10%;
    margin-top: 10rem;
}
.create_profile > h1{
    text-align: center;
    margin: 1rem 0;
    color: #2168A6;
}
.create_profile_card{
    padding: 50px;
    margin-bottom: 3rem;
}
.card_profile_title{
    color: #2168A6;
    margin-bottom: 1rem;
}

.check_box{
    margin-bottom: 1rem;
}
.card_btn{
    display: flex;
    justify-content: flex-end;
}
